@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    max-width: 390px;
    background: lightgreen;
    font-size: 18px;
    text-align: center;
}

img {
    width: 300px;
}

.header {
    font-family: 'Roboto', sans-serif;
}

#click {
    padding: 10px;
    background: #234F;
    color: #fff;
    border-radius: 10px;
    border: none;
}

#click:hover {
    background: lightblue;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    margin-top: 50px;
}

.item {
    text-align: center;
}

.inner img {
    width: 150px;
}

.btn {
    padding: 10px;
    background: rgb(248, 168, 25);
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background: lightblue;
}


