@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 390px;
    background: lightgreen;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img {
    width: 300px;
}

